[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "lib/atlas"]
	path = lib/atlas
	url = https://github.com/FastLane-Labs/atlas@atlas-v1.1
    branch = atlas-v1.1
